<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/posts.css">
  </head>
  <body>
    <!-- Header -->
    <%- include('header') %>

    <!-- Main -->
    <section>
      
      <!-- User Not Logged In -->
      <% if (!user) { %>
        <!-- Log In Disclaimer -->
        <div class="disclaimer">
          <p>
            You need to <a href="/login">log in</a> in order to create a post.
          </p>
        </div>
      <% } else { %>
        <!-- User Logged In -->
        <a href="/posts/new">
          <button class="create-post-btn">+ Create post</button>
        </a>
      <% } %>

      <!-- Post Grid -->
      <div class="post-grid">
        <!-- Each Post -->
        <% posts.forEach(post => { %>
          <div class="post">

            <!-- Users Info -->
            <div class="users-info">
              <% if (!user) { %>
                <p><strong>Unknown user</strong></p>
                <div class="first-last-names">
                  <p>*****</p>
                  <p>*****</p>
                </div>
              <% } else { %>
                <p><strong><%= post.username %></strong></p>
                <div class="first-last-names">
                  <p><%= post.first_name %></p>
                  <p><%= post.last_name %></p>
                </div>
              <% } %>
            </div>

            <!-- Users Text -->
            <div class="users-text">
              <h2><%= post.title %></h2>
              <p><%= post.message %></p>
            </div>
          </div>
        <% }) %>
      </div>
    </section>

    <!-- Footer -->
    <%- include('footer') %>
  </body>
</html>
